<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="rickshaw/rickshaw.min.css" />
    <link rel="stylesheet" type="text/css" href="style.css" />

    <script type="text/javascript" src='jquery.min.js'></script>
    <script type="text/javascript" src='d3.v2.min.js'></script>
    <script type="text/javascript" src='bootstrap/js/bootstrap.min.js'></script>
    <script type="text/javascript" src='jquery-ui/jquery-ui.min.js'></script>
    <script type="text/javascript" src='rickshaw/rickshaw.min.js'></script>
    <script type="text/javascript" src='base64.js'></script>
    <script type="text/javascript" src='graph.js'></script>
    <script type="text/javascript" src='main.js'></script>
</head>
<body>
    <div class='container-fluid'>
        <div id='heading' class="row-fluid">
            <div class='span8'>
                <h1><%= title || "Dashboard for Minum" %></h1>
            </div>
            <div class='span4'>
                <button onclick='$("#identify-sources").modal("show");' class='btn btn-success'>Identify Sources</button>
                <button onclick='$("#dialog-configure").modal("show");' class='btn btn-info'>Configure Dashboard</button>
            </div>
        </div>
    </div>

    <div id='graphs' class='container-fluid'>
        
    </div>

    <!-- Templates -->

    <script type="text/plain" id='tmpl-row'>
        <div class='row-fluid graph-row'></div>
    </script>

    <script type="text/plain" id='tmpl-graph'>
        <div class="graph-container">
            <h4></h4>
            <div class='graph'></div>
            <div class='legend'></div>
        </div>
    </script>

    <div id='dialog-configure' class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Configure Dashboard</h3>
        </div>
        <div class="modal-body">
            <fieldset>
                <label class="input"> Title </label>
                <input id='title' type="text" value='<%= title || "Dashboard for Minum" %>'>
                <label>Graph Syntax (<a target= '_blank' href='https://github.com/minum/dashboard#using-dashboard'>what's this?</a>)</label>
                <textarea placeholder='Enter Dashboard Graph Systax' id='syntax'></textarea>
                <label class="input">
                  No of graphs per raw
                </label>
                <input id='graphs-per-row' type="text" value=2>
                <label class="input">
                  Height of the Graph
                </label>
                <input id='graph-height' type="text" value=150>
            </fieldset>
        </div>
        <div class="modal-footer">
            <button class="btn" onClick='$("#dialog-configure").modal("hide");'>Close</button>
            <button class="btn btn-primary" id='configure'>Configure</button>
        </div>
    </div>

    <div id='identify-sources' class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Identify Sources</h3>
        </div>
        <div class="modal-body">
            <fieldset>
                <label class="input"> Enter Metric </label>
                <input class='metric' type="text" value=''>

                <label class="input"> Select Range </label>
                <select class='range'>
                    <option value='30000'>30 Sec</option>
                    <option value='300000'>5 Minute</option>
                    <option value='3600000'>1 Hour</option>
                    <option value='18000000'>5 Hours</option>
                    <option value='86400000'>1 Day</option>
                </select>

                <div class='result hide'>
                    <label class="input" > Resulting Syntax </label>
                    <input class='syntax' type="text" value='sdsdsds' />
                </div>

            </fieldset>
        </div>
        <div class="modal-footer">
            <button class="btn" onClick='$("#identify-sources").modal("hide");'>Close</button>
            <button class="btn btn-primary" id='identify'>Identify</button>
        </div>
    </div>
</body>
</html>